body {
  background-color: #325ca8;
}

label {
  font-size: 50px;
  color: white;
  text-align: center;
}

.searchBar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem;
}

input {
  font-size: 1rem;
}

.userCards {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
}

.card {
  margin: 5px;
  border-radius: 20px;
  background-color: #789ee3;
  padding: 1rem;
}

.card>.issue {
  margin-bottom: .25rem;
  text-align: center;
}

.card>.tags {
  font-size: .8rem;
  color: #FFFF;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

@media screen and (max-width: 700px) {
  .userCards {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 300px) {
  .userCards {
    display: grid;
    grid-template-columns: repeat(1, minmax(75px, 1fr));
  }
}