.searchBar {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.userCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.card>.issue {
  margin-bottom: .25rem;
}

.card>.tags {
  font-size: .8rem;
  color: #777
}

.hide {
  display: none;
}